body, h1, h2, h3, h4, h5, h6, address, blockquote, dd, dl, hr, p, form{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Microsoft Yahei';
    font-size: 11pt;
    vertical-align: top;
    color: #000000;
}
h1{
    font-size: 18pt;
    padding: 0 0 10px 0;
}
a:link, a:visited{
    text-decoration: none;
    color: #336699;
}
a:hover, a:active{
    text-decoration: none;
    color: #ff0000;
}
#wrapper{
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: left;
    background: #ddd;
    padding: 0;
}
/**
* 2-Header
*/
#header-box{
    width: 100%;
    height: 100px;
    background-color: #393939;
}
#header{
    margin: 0 auto;
    width: 1110px;
    height: 100px;
}
#title-box {
    width: 300px;
    height: 55px;
    margin-left: 25px;
    display: block;
    float: left;
}
#title {
    margin: 0;
    padding: 0;
}
#title a {
    color: #FFF;
}
#sub-title {
    color: #FFF;
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 9pt;
}
#header-split-box {
    height: 55px;
    width:560px;
    display: block;
    float: left;
}
#header-search-box {
    height: 30px;
    width:200px;
    display: block;
    float: right;
    margin-right: 25px;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
}
#header-search-box #searchform {
    line-height: 55px;
    display: block;
    float: right;
}

#main-area {
    width: 1110px;
    margin: 0 auto;
    padding: 0;
}

/***************************************
* 2-Navigation
* 
* 2.1-Main Navigation
****************************************/
.nav-box {
    margin: 0 0 10px 0;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: #FFF;
}
.nav {
    width: 1110px;
    height: 40px;
    margin: 0 auto;
}
.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    float: left;
    text-align: center;
    position: relative;
}
.nav ul li a {
    display: block;
    text-decoration: none;
    line-height: 40px;
    color: #000;
    padding: 0 10px;
}
.nav ul li:hover {
    background-color: #ccc;
}
.nav ul li ul {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #ccc;
}
.nav ul li:hover ul {
    display: block;
}
.nav ul li ul li {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    float: left;
    text-align: left;
    list-style: none;
    clear: both;
    width: 150px;}
.nav ul li ul li a {
    display: block;
    text-decoration: none;
    line-height: 40px;
    color: #000;
    padding: 0 0 0 10px;
}
.nav ul li ul li:hover {
    background-color: #999;
}
.nav ul li ul li ul {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #ccc;
    right: -150px;
    top: 0;
}
.nav ul li ul li ul li {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    float: left;
    text-align: left;
    list-style: none;
    clear: both;
    width: 150px;
    height: 40px;
}
.nav ul li ul li ul li a {
    display: block;
    text-decoration: none;
    line-height: 40px;
    color: #000;
    padding: 0 0 0 10px;
}
.nav ul li:hover ul li ul {
    display: none;
}
.nav ul li ul li:hover ul {
    display: block;
}
.nav ul li ul li ul li:hover {
    background-color: #aaa;
}
/***************************************
* 2.2 Top Navigation
***************************************/
.top-menu {
    width: 1110px;
    height: 20px;
    font-size: 9pt;
}
.top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-menu ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    float: right;
    text-align: center;
    position: relative;
}
.top-menu ul li a {
    display: block;
    text-decoration: none;
    line-height: 20px;
    color: #FFF;
    padding: 0 10px;
}
.top-menu ul li:hover {
    background-color: #111;
}
.top-menu ul li ul {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 1;
    background: #666;
}
.top-menu ul li:hover ul {
    display: block;
}
.top-menu ul li ul li {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    float: left;
    text-align: left;
    list-style: none;
    clear: both;
    width: 100px;}
.top-menu ul li ul li a {
    display: block;
    text-decoration: none;
    line-height: 30px;
    color: #FFF;
    padding: 0 0 0 10px;
}
.top-menu ul li ul li:hover a{
    background-color: #111;
}
/***************************************
* Footer Menu
***************************************/
.menu-footer-menu-container {  
    clear: both;
    width: 1110px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    margin-bottom: 15px;
}
.menu-footer-menu-container a {
    text-decoration: none;
    color: #FFF;
}
.menu-footer-menu-container a:link {
    text-decoration: none;
    color: #FFF;
}
.menu-footer-menu-container a:visited {
    text-decoration: none;
    color: #FFF;
}
.menu-footer-menu-container a:hover {
    text-decoration: none;
    color: #336699;
}
.menu-footer-menu-container a:active {
    text-decoration: none;
    color: #336699;
}

.menu-footer-menu-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
.menu-footer-menu-container ul li {
    display: block;
    float: left;
    width: 100px;
    font-size: 14px;
    line-height: 21px;
}
.menu-footer-menu-container ul li ul {
    display: inline-block;
    width: 100px;
    display: inline-block;
}
.menu-footer-menu-container ul li ul li {
    width: 90px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    margin-left: 10px;
}
/********************************
* Post
********************************/
#container{
    display: block;
    width: 750px;
    display: block;
    float: left;
    overflow: hidden;
}
.post{
    display: block;
    overflow: hidden;
    width: 748px;
    min-height: 50px;
    border-top: solid 3px #336699;
    margin-bottom: 10px;
    background-color: #FFF;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.post h2{
    font-family: Georgia, Sans-serif;
    font-size: 16pt;
    width: 700px;
    margin-left: 24px;
    margin-top: 10px;
}
.post-meta-data {
    clear: both;
    width: 700px;
    height: 30px;
    margin: 5px 0 5px 24px;
    padding: 0;
}
.post-meta-data p {
    line-height: 30px;
    font-size: 9pt;
}
.post-meta-data .sub-meta {
    margin-right: 15px;
}
.entry{
    line-height: 24px;
    width: 700px;
    display: block;
    float: left;
    margin-left: 24px;
    margin-bottom: 10px;
}
.entry p {
    margin-bottom: 0.5em;
    line-height: 1.5em;
}
.entry pre {
    overflow: scroll;
}
.entry h3 {
    font-size: 14pt;
    margin: 15px 0;
}
.entry ul {
    margin: 8px 0;
    padding: 0;
}
.entry ul li {
    line-height: 24px;
}
.entry .post_thumbnail {
    width: 200px;
    height: 150px;
    display: block;
    float: left;
}
.entry .post_thumbnail img {
    width: 200px;
    height: 150px;
}
.entry .index-post-list {
    width: 490px;
    margin-left: 10px;
    display: block;
    float: left;
}
.entry .wp-caption {
    margin: 10px auto;
}
.entry .wp-caption-text {
    text-align: center;
}
.page-navi{
    font-size: 12px;
    width: 750px;
    clear: both;
    margin-bottom: 10px;
}
.page-navi ul {
    margin: 0;
    padding: 0;
}
.page-navi li a, .page-navi li a:hover, .page-navi li.active a, .page-navi li.disabled {
    color: #fff;
    text-decoration: none;
}
.page-navi li {
    display: inline;
    line-height: 40px;
}
.page-navi li a, .page-navi li a:hover, .page-navi li.active a, .page-navi li.disabled {
    background-color: #666;
    /*
    border-radius: 3px;
    */
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
}
.page-navi li a:hover, .page-navi li.active a {
    background-color: #336699;
}
.post-navi-single {
    height: 40px;
    font-size: 9pt;
    font-weight: bold;
    line-height: 40px;
    width: 700px;
    clear: both;
    margin-left: 24px;
}
.post-navi-single .previous_post {
    display: block;
    float: left;
    width: 340px;
    text-align: left;
}.post-navi-single .next_post {
    display: block;
    float: right;
    width: 340px;
    text-align: right;
}
.read-more {
    width: 90px;
    background-color: #336699;

}
.read-more a {
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #FFF;
    font-size: 10.5pt;
}
/********************************
* SideBar
*********************************/
.sidebar{
    display: block;
    float: right;
    width: 350px;
    margin: 0 0 0 10px;
    display: inline;
}
.sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar ul li {
    margin: 0 0 10px 0;
    border: solid 1px #ccc;
    border-top: solid 3px #336699;
    background-color: #FFF;
}
.sidebar ul li h2 {
    font-size: 12pt;
    line-height: 40px;
    border-bottom: solid 1px #ccc;
    width: 343px;
    padding-left:10px;
}
.sidebar ul li ul {
    margin: 10px;
    min-height: 30px;
    padding-left: 1.3em;
}
.sidebar ul li ul li {
    list-style: square;
    border: none;
    margin: 2px 0;
    line-height: 24px;
}

.sidebar .sidebar-search-box {
    margin: 10px;
    padding: 0;
    min-height: 30px;
    position: relative;
    overflow: hidden;
}
.siderbar .wp-calendar-nav {
    margin: 10px;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.sidebar .tagcloud {
    margin: 10px;
}
.calendar_wrap {
    margin: 10px;
    min-height: 30px;
}
.calendar_wrap table {
    width: 100%;
    margin: 0;
    padding: 0;
}
.calendar_wrap caption {
    text-align: center;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 5px 0;
    padding: 0;
}
.calendar_wrap thead {
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.calendar_wrap tbody .pad {
    background-color: #FFF;
}
.calendar_wrap tbody td {
    background: #f5f5f5;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
}
.calendar_wrap tbody td:hover {
    background: #ccc;
}

.calendar_wrap nav .wp-calendar-nav-prev {
    font-size: 14px;
    display: block;
    float: left;
    margin-left: 5px;
}
.calendar_wrap nav .wp-calendar-nav-next {
    font-size: 14px;
    display: block;
    float: right; 
    margin-right: 5px;
}
/********************************
* Comments
*********************************/
.comments-template{
    margin: 10px 0 20px 25px;
    border-top: 1px solid #ccc;
    padding: 10px 0 0;
    width: 700px;
    display: block;
    float: left;
}
.comments-template ol{
    margin: 0;
    padding: 0 0 15px;
    list-style: none;
}
.comments-template ol li{
    margin: 10px 0 0;
    line-height: 18px;
    padding: 0 0 10px;
    border-bottom: 1px solid #ccc;
}
.comments-template h2, .comments-template h3{
    font-size: 12pt;
}
.commentmetadata{
    font-size: 9pt;
}
.comments-template p.nocomments{
    padding: 0;
}
.comments-template textarea{
    font-size: 9pt;
}
#not-found {
    margin: 20px auto;
}
/***************************************
* Search
****************************************/
.screen-reader-text {
    display: none;
}
.search-field {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 2px solid #336699;
    border-radius: 5px;
    outline: none;
    background: #FFF;
    color: #9E9C9C;
}
.search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 30px;
    border: none;
    background: #336699;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: #FFF;
}
.search-submit:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
.search-box-404 {
    margin: 0;
    padding: 0;
    width: 300px;
    position: relative;
    overflow: hidden;
}
/***************************************
* Footer
***************************************/
#footer-box {
    width: 100%;
    min-height: 60px;
    background-color: #363636;
    clear: both;
    margin-top: 10px;
    padding: 10px 0;
}
#footer{
    clear: both;
    font-size: 9pt;
    line-height: 18px;
    width: 1110px;
    color: #ddd;
    text-align: left;
    margin: 0 auto;
}
